/* Add Button */
.add__button {
    width: 8rem;
    height: 3rem;
    border: 1px solid darkorange;
    border-radius: 4px;
    background-color: darkorange;
    color: white;
    &:hover{
        color: darkorange;
        background-color: white;
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .add__button {
        width: 10rem;
        height: 2rem;
    }
}

