/* Add Button */
.add__button {
    width: 8rem;
    height: 3rem;
    border: 1px solid #263343;
    border-radius: 4px;
    background-color: #263343;
    color: white;
    position: absolute;
    right: 10%;
    
    &:hover{
        color: #263343;
        background-color: white;
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .add__button {
        width: 5rem;
        height: 2rem;
    }
}