/* Add Button */
.add__button {
    width: 8rem;
    height: 3rem;
    border: 1px solid darkorange;
    border-radius: 4px;
    background-color: darkorange;
    color: white;
    &:hover {
        background: lighten(darkorange,10%); //　明るく
    }
    &:active {
        background: darken(darkorange,10%); // 　暗く
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .add__button {
        width: 8rem;
        height: 2rem;
    }
}

