.search__form {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 5rem;
    
    &__input {
        width: 30rem;
        font-size: 1.5rem;
        padding: 4px;
        outline: 0;

        &::placeholder {
            opacity: 0.3;
            font-size: 1rem;
            vertical-align: center; 
        }
    }
    &__btn {
        margin-left: 8px;
        width: 7rem;
        color: white;
        background-color: #263343;
        border: 1px solid #263343;
        border-radius: 10px;
    
        &:hover {
            background: lighten(#233346,10%);
            color: white; 
        }
        &:active {
            background: darken(#233346,10%); 
        }
    }  
}
