.buttons__container{
    display: flex;
    
    &__buttons {
        margin: 2rem 0 0 1rem ;
    }
    &__button {
        width: 3rem;
        height: 3rem;
        border: 1px solid #263343;
        border-radius: 4px;
        color: #263343;
        
        &:hover {
            background-color: lighten(#263343,10%);
            color: white;
        }
        &:active {
            background-color: darken(#263343,10%);
        }
    }
    &__add {
        width: 8rem;
        height: 3rem;
        border: 1px solid darkorange;
        border-radius: 4px;
        background-color: darkorange;
        color: white;
        position: absolute;
        right: 10%;
        
        &:hover {
            background-color: lighten(darkorange,10%);
        }
        &:active {
            background-color: darken(darkorange,10%);
        }
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .buttons__container {
        &__buttons {
            margin: 2rem 0 0 0.5rem;
        }
        &__button {
            width: 2rem;
            height: 2rem;
        }
        &__add{
            width: 5rem;
            height: 2rem;
        }
    }
}

