.add__form{
  width: 80%;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;

  &__label {
    width: 15rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #233346;
    color: white;
    border-radius: 0.25rem;
  }

  &__input {
    width: 30rem;
    padding: 0.5rem;
    height: 100%;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    outline: 0;
  }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
  .add {
    margin-bottom: 0.25rem;
    &__label {
      width: 10rem;
      padding: 0.25rem;
      font-size: 1.25rem;
      text-align: center;
    }
    &__input {
      width: 25rem;
      padding: 0.25rem;
      font-size: 1.25rem;
    }
  }
}