.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

    .button{
      margin-left: 1rem;
    
      .add__button {
        width: 8rem;
        height: 50px;
        border-radius: 4px;
        text-align: center;
        color: white;
        border: 1px solid darkorange;
        background-color: darkorange;
        
        &:hover {
            background: lighten(darkorange,10%); //　明るく
        }
        &:active {
            background: darken(darkorange,10%); // 　暗く
        }
      }
      .close__button{
        width: 8rem;
        height: 50px;
        border-radius: 4px;
        text-align: center;
        color: white;
        background-color: #233346;
        border: 1px solid #233346;
        
        &:hover {
            background: lighten(#233346,10%);
            color: white; 
        }
        &:active {
            background: darken(#233346,10%); 
        }
      }
    }
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  width: 35rem;

  &__label {
    // width: 15rem;
    width: 30%;
    padding: 0.25rem;
    text-align: center;
    background-color: #233346;
    color: white;
    border-radius: 0.25rem;
  }

  &__input {
    width: 70%;
    padding: 0.75rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    outline: 0;
  }

}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .buttons{

    .button{
    
      .add__button {
        height: 2rem;
      }
      .close__button {
        height: 2rem;
      }
    }
}
  .add {
    margin-bottom: 0.25rem;

    &__label {
      // width: 10rem;
      padding: 0.25rem;
      font-size: 1rem;
      text-align: center;
    }
    &__input {
      // width: 25rem;
      padding: 0.5rem;
      font-size: 0.75rem;
    }
  }
}


