.buttons__close{
    width: 8rem;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    color: #233346;
    background-color: white;
    border: 1px solid #233346;
    
    &:hover{
        color: white;
        background-color: #233346;
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .buttons__close {
        width: 10rem;
        height: 2rem;
    }
}