.sidebar{
    background-color: #263343;
    width: 20vw;
    height: 100vh;
    float: left;
    &__header{
        color: #ffffff;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
    }
    &__togglebtn {
        display: none;
    }
}

// SideBar - レスポンシブーデザイン  
$media-phone: 768px;
    @media (max-width: $media-phone) {
        .sidebar {
            width: 100%;
            height: auto;

            &__togglebtn {
                display: block;
                position: absolute;
                cursor: pointer;
                color: white;
                font-size: 2rem;
                left: 24px;
            }
        }
    }