* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header {
    height: 10vh;
    width: 100%;
    text-align: center;
}

/* SideBar */
.sidebar{
    background-color: #263343;
    width: 20vw;
    height: 100vh;
    float: left;
}

.sidemenu-header{
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.sidebarItem {
    padding: 15px 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.sidebarItem:hover {
    background-color: #d49466;
}

.sidebar-text {
    margin-left: 4px;
}

.container{
    float: left;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: 250px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}

.icon-box-icon {
    font-size: 8rem;
}

.icon-box-name {
    font-size: 1.8rem;
}   

.sidebar-togglebtn {
    display: none;
    color: white;
    font-size: 2rem;
    left: 24px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }
    
    .sidebar-togglebtn {
        position: absolute;
        display: block;
    }

    .sidebarItem {
        display: block;
    }

    .container { 
        width: 100%;
    }

    .icon-box {
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
    }

    .icon-box-icon {
        font-size: 5rem;
    }
    
    .icon-box-name {
        font-size: 2.5rem;
    }   
}