.table {
    margin-top: 3rem;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1rem;
    color: black;
    
    th,td{
        padding: 1rem 2rem;
    }

    .link__text {
        color: black;
        padding: 0.75rem 0.5rem;
    }

    tr:nth-child(odd) {
        background-color: #9db0c8;
    }
}

$media-phone: 768px;
@media (max-width: $media-phone) {
    .table {
        margin-top: 2rem;
        td, th {
            padding: 0.5rem 0.75rem;
        }
    }
}