.table {
    margin-top: 5rem;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1rem;
    td, th {
        border: 1px solid #dddddd;
        padding: 0.75rem 1rem;
    }
    .link__text {
        color: black;
    }
    tr:nth-child(odd) {
        background-color: #9db0c8;
    }
}
